extends ./layout

block content
    .container
        .row
            .col-lg-8.col-md-8
                
            .col-lg-4.col-md-4
                #sidebars
                    .sidebar
                        h3.title RECENT POSTS
                        .content
                            ul
                                for post in sidebarPosts
                                    li.recent-post
                                        .thumbnail
                                            img.img-responsive(src="http://placehold.it/200x250")
                                        a(href='/post/' + post.slug)
                                            h5 #{post.title}
                                            p
                                                small
                                                    i.fa.fa-calendar
                                                    | 30 June 2015
