extends ../layouts/main.jade

block styles
    link(href="/css/admin/core.css", rel="stylesheet", type="text/css")

block beforeContent
    .controls
        input(type="button", value="Add User", id="addUser").button
        | 
        input(type="button", value="User List", id="userList").button
        | 
        input(type="button", value="Post List", id="postList").button
        | 
        a(href="/admin/new/post").button New Post

block content
    .container
        
