extends ../layouts/main.jade

block styles
    link(href="/css/admin/core.css", rel="stylesheet", type="text/css")

block beforeContent
    .controls
        a(href="/admin/new/user").button Add User
        | 
        a(href="/admin/users").button User List
        | 
        a(href="/admin/new/post").button New Post
        | 
        a(href="/admin/posts").button Post List

block content
    .container
        
