doctype html(lang='en')
    head
        meta(charset='utf-8')
        title Html version | Angulr
        meta(name='description', content='Angularjs, Html5, Music, Landing, 4 in 1 ui kits package')
        meta(name='keywords', content='AngularJS, angular, bootstrap, admin, dashboard, panel, app, charts, components,flat, responsive, layout, kit, ui, route, web, app, widgets')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='/css/bower_components/bootstrap/dist/css/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='/css/bower_components/animate.css/animate.css', type='text/css')
        link(rel='stylesheet', href='/css/bower_components/font-awesome/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='/css/bower_components/simple-line-icons/css/simple-line-icons.css', type='text/css')
        link(rel='stylesheet', href='/css/bower_components/css/font.css', type='text/css')
        link(rel='stylesheet', href='/css/bower_components/css/app.css', type='text/css')
    body
        .app.app-header-fixed
          // header
          header#header.app-header.navbar(role='menu')
            // navbar header
            .navbar-header.bg-dark
              button.pull-right.visible-xs.dk(ui-toggle='show', target='.navbar-collapse')
                i.glyphicon.glyphicon-cog
              |         
              button.pull-right.visible-xs(ui-toggle='off-screen', target='.app-aside', ui-scroll='app')
                i.glyphicon.glyphicon-align-justify
              // brand
              a.navbar-brand.text-lt(href='#/')
                i.fa.fa-btc
                |           
                img.hide(src='img/logo.png', alt='.')
                |           
                span.hidden-folded.m-l-xs Angulr
              // / brand
            // / navbar header
            // navbar collapse
            .collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only
              // buttons
              .nav.navbar-nav.hidden-xs
                a.btn.no-shadow.navbar-btn(href='#', ui-toggle='app-aside-folded', target='.app')
                  i.fa.fa-dedent.fa-fw.text
                  |             
                  i.fa.fa-indent.fa-fw.text-active
                |           
                a.btn.no-shadow.navbar-btn(href='#', ui-toggle='show', target='#aside-user')
                  i.icon-user.fa-fw
              // / buttons
              // link and dropdown
              ul.nav.navbar-nav.hidden-sm
                li.dropdown.pos-stc
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    span Mega
                    |               
                    span.caret
                  |             
                  .dropdown-menu.wrapper.w-full.bg-white
                    .row
                      .col-sm-4
                        .m-l-xs.m-t-xs.m-b-xs.font-bold
                          | Pages 
                          span.badge.badge-sm.bg-success 10
                        |                   
                        .row
                          .col-xs-6
                            ul.list-unstyled.l-h-2x
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Profile
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Post
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Search
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Invoice
                          |                     
                          .col-xs-6
                            ul.list-unstyled.l-h-2x
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Price
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Lock screen
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Sign in
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Sign up
                      |                 
                      .col-sm-4.b-l.b-light
                        .m-l-xs.m-t-xs.m-b-xs.font-bold
                          | UI Kits 
                          span.label.label-sm.bg-primary 12
                        |                   
                        .row
                          .col-xs-6
                            ul.list-unstyled.l-h-2x
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Buttons
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Icons 
                                  span.badge.badge-sm.bg-warning 1000+
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Grid
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Widgets
                          |                     
                          .col-xs-6
                            ul.list-unstyled.l-h-2x
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Bootstap
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Sortable
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Portlet
                              |                         
                              li
                                a(href='')
                                  i.fa.fa-fw.fa-angle-right.text-muted.m-r-xs
                                  | Timeline
                      |                 
                      .col-sm-4.b-l.b-light
                        .m-l-xs.m-t-xs.m-b-sm.font-bold Analysis
                        |                   
                        .text-center
                          .inline
                            div(ui-jq='easyPieChart', ui-options="{\
                            percent: 65,\
                            lineWidth: 50,\
                            trackColor: '#e8eff0',\
                            barColor: '#23b7e5',\
                            scaleColor: false,\
                            size: 100,\
                            rotate: 90,\
                            lineCap: 'butt',\
                            animate: 2000\
                            }")
                |           
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.fa.fa-fw.fa-plus.visible-xs-inline-block
                    |               
                    span(translate='header.navbar.new.NEW') New
                    |  
                    span.caret
                  |             
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#', translate='header.navbar.new.PROJECT') Projects
                    |               
                    li
                      a(href='')
                        span.badge.bg-info.pull-right 5
                        |                   
                        span(translate='header.navbar.new.TASK') Task
                    |               
                    li
                      a(href='', translate='header.navbar.new.USER') User
                    |               
                    li.divider
                    |               
                    li
                      a(href='')
                        span.badge.bg-danger.pull-right 4
                        |                   
                        span(translate='header.navbar.new.EMAIL') Email
              // / link and dropdown
              // search form
              form.navbar-form.navbar-form-sm.navbar-left.shift(ui-shift='prependTo', data-target='.navbar-collapse', role='search', ng-controller='TypeaheadDemoCtrl')
                .form-group
                  .input-group
                    input.form-control.input-sm.bg-light.no-border.rounded.padder(type='text', ng-model='selected', typeahead='state for state in states | filter:$viewValue | limitTo:8', placeholder='Search projects...')
                    |               
                    span.input-group-btn
                      button.btn.btn-sm.bg-light.rounded(type='submit')
                        i.fa.fa-search
              // / search form
              // nabar right
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-bell.fa-fw
                    |               
                    span.visible-xs-inline Notifications
                    |               
                    span.badge.badge-sm.up.bg-danger.pull-right-xs 2
                  // dropdown
                  .dropdown-menu.w-xl.animated.fadeInUp
                    .panel.bg-white
                      .panel-heading.b-light.bg-light
                        strong
                          | You have 
                          span 2
                          |  notifications
                      |                 
                      .list-group
                        a.media.list-group-item(href='')
                          span.pull-left.thumb-sm
                            img.img-circle(src='img/a0.jpg', alt='...')
                          |                     
                          span.media-body.block.m-b-none
                            | Use awesome animate.css
                            br
                            |                       
                            small.text-muted 10 minutes ago
                        |                   
                        a.media.list-group-item(href='')
                          span.media-body.block.m-b-none
                            | 1.0 initial released
                            br
                            |                       
                            small.text-muted 1 hour ago
                      |                 
                      .panel-footer.text-sm
                        a.pull-right(href='')
                          i.fa.fa-cog
                        |                   
                        a(href='#notes', data-toggle='class:show animated fadeInRight') See all the notifications
                  // / dropdown
                |           
                li.dropdown
                  a.dropdown-toggle.clear(href='#', data-toggle='dropdown')
                    span.thumb-sm.avatar.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm
                      img(src='img/a0.jpg', alt='...')
                      |                 
                      i.on.md.b-white.bottom
                    |               
                    span.hidden-sm.hidden-md John.Smith
                    |  
                    b.caret
                  // dropdown
                  ul.dropdown-menu.animated.fadeInRight.w
                    li.wrapper.b-b.m-b-sm.bg-light.m-t-n-xs
                      div
                        p 300mb of 500mb used
                      |                 
                      .progress.progress-xs.m-b-none.dker
                        .progress-bar.progress-bar-info(data-toggle='tooltip', data-original-title='50%', style='width: 50%')
                    |               
                    li
                      a(href='')
                        span.badge.bg-danger.pull-right 30%
                        |                   
                        span Settings
                    |               
                    li
                      a(ui-sref='app.page.profile') Profile
                    |               
                    li
                      a(ui-sref='app.docs')
                        span.label.bg-info.pull-right new
                        |                   Help
                    |               
                    li.divider
                    |               
                    li
                      a(ui-sref='access.signin') Logout
                  // / dropdown
              // / navbar right
            // / navbar collapse
          // / header
          // aside
          aside#aside.app-aside.hidden-xs.bg-dark
            .aside-wrap
              .navi-wrap
                // user
                #aside-user.clearfix.hidden-xs.text-center.hide
                  .dropdown.wrapper
                    a(href='app.page.profile')
                      span.thumb-lg.w-auto-folded.avatar.m-t-sm
                        img.img-full(src='img/a0.jpg', alt='...')
                    |               
                    a.dropdown-toggle.hidden-folded(href='#', data-toggle='dropdown')
                      span.clear
                        span.block.m-t-sm
                          strong.font-bold.text-lt John.Smith
                          |                     
                          b.caret
                        |                   
                        span.text-muted.text-xs.block Art Director
                    // dropdown
                    ul.dropdown-menu.animated.fadeInRight.w.hidden-folded
                      li.wrapper.b-b.m-b-sm.bg-info.m-t-n-xs
                        span.arrow.top.hidden-folded.arrow-info
                        |                   
                        div
                          p 300mb of 500mb used
                        |                   
                        .progress.progress-xs.m-b-none.dker
                          .progress-bar.bg-white(data-toggle='tooltip', data-original-title='50%', style='width: 50%')
                      |                 
                      li
                        a(href='') Settings
                      |                 
                      li
                        a(href='page_profile.html') Profile
                      |                 
                      li
                        a(href='')
                          span.badge.bg-danger.pull-right 3
                          |                     Notifications
                      |                 
                      li.divider
                      |                 
                      li
                        a(href='page_signin.html') Logout
                    // / dropdown
                  |             
                  .line.dk.hidden-folded
                // / user
                // nav
                nav.navi.clearfix(ui-nav='')
                  ul.nav
                    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
                      span Navigation
                    |               
                    li
                      a.auto(href='')
                        span.pull-right.text-muted
                          i.fa.fa-fw.fa-angle-right.text
                          |                     
                          i.fa.fa-fw.fa-angle-down.text-active
                        |                   
                        i.glyphicon.glyphicon-stats.icon.text-primary-dker
                        |                   
                        span.font-bold Dashboard
                      |                 
                      ul.nav.nav-sub.dk
                        li.nav-sub-header
                          a(href='')
                            span Dashboard
                        |                   
                        li
                          a(href='index.html')
                            span Dashboard v1
                        |                   
                        li
                          a(href='dashboard.html')
                            b.label.bg-info.pull-right N
                            |                       
                            span Dashboard v2
                    |               
                    li
                      a(href='mail.html')
                        b.badge.bg-info.pull-right 9
                        |                   
                        i.glyphicon.glyphicon-envelope.icon.text-info-lter
                        |                   
                        span.font-bold Email
                    |               
                    li.line.dk
                    |               
                    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
                      span Components
                    |               
                    li
                      a.auto(href='')
                        span.pull-right.text-muted
                          i.fa.fa-fw.fa-angle-right.text
                          |                     
                          i.fa.fa-fw.fa-angle-down.text-active
                        |                   
                        b.badge.bg-info.pull-right 3
                        |                   
                        i.glyphicon.glyphicon-th
                        |                   
                        span Layout
                      |                 
                      ul.nav.nav-sub.dk
                        li.nav-sub-header
                          a(href='')
                            span Layout
                        |                   
                        li
                          a(href='layout_app.html')
                            span Application
                        |                   
                        li
                          a(href='layout_fullwidth.html')
                            span Full width
                        |                   
                        li
                          a(href='layout_boxed.html')
                            span Boxed layout
                    |               
                    li
                      a.auto(href='')
                        span.pull-right.text-muted
                          i.fa.fa-fw.fa-angle-right.text
                          |                     
                          i.fa.fa-fw.fa-angle-down.text-active
                        |                   
                        i.glyphicon.glyphicon-briefcase.icon
                        |                   
                        span UI Kits
                      |                 
                      ul.nav.nav-sub.dk
                        li.nav-sub-header
                          a(href='')
                            span UI Kits
                        |                   
                        li
                          a(href='ui_button.html')
                            span Buttons
                        |                   
                        li
                          a(href='ui_icon.html')
                            b.badge.bg-info.pull-right 3
                            |                       
                            span Icons
                        |                   
                        li
                          a(href='ui_grid.html')
                            span Grid
                        |                   
                        li
                          a(href='ui_widget.html')
                            b.badge.bg-success.pull-right 13
                            |                       
                            span Widgets
                        |                   
                        li
                          a(href='ui_sortable.html')
                            span Sortable
                        |                   
                        li
                          a(href='ui_portlet.html')
                            span Portlet
                        |                   
                        li
                          a(href='ui_timeline.html')
                            span Timeline
                        |                   
                        li
                          a(href='ui_jvectormap.html')
                            span Vector Map
                    |               
                    li
                      a.auto(href='')
                        span.pull-right.text-muted
                          i.fa.fa-fw.fa-angle-right.text
                          |                     
                          i.fa.fa-fw.fa-angle-down.text-active
                        |                   
                        b.label.bg-primary.pull-right 2
                        |                   
                        i.glyphicon.glyphicon-list
                        |                   
                        span Table
                      |                 
                      ul.nav.nav-sub.dk
                        li.nav-sub-header
                          a(href='')
                            span Table
                        |                   
                        li
                          a(href='table_static.html')
                            span Table static
                        |                   
                        li
                          a(href='table_datatable.html')
                            span Datatable
                        |                   
                        li
                          a(href='table_footable.html')
                            span Footable
                    |               
                    li
                      a.auto(href='')
                        span.pull-right.text-muted
                          i.fa.fa-fw.fa-angle-right.text
                          |                     
                          i.fa.fa-fw.fa-angle-down.text-active
                        |                   
                        i.glyphicon.glyphicon-edit
                        |                   
                        span Form
                      |                 
                      ul.nav.nav-sub.dk
                        li.nav-sub-header
                          a(href='')
                            span Form
                        |                   
                        li
                          a(href='form_element.html')
                            span Form elements
                    |               
                    li
                      a(href='ui_chart.html')
                        i.glyphicon.glyphicon-signal
                        |                   
                        span Chart
                    |               
                    li
                      a.auto(href='')
                        span.pull-right.text-muted
                          i.fa.fa-fw.fa-angle-right.text
                          |                     
                          i.fa.fa-fw.fa-angle-down.text-active
                        |                   
                        i.glyphicon.glyphicon-file.icon
                        |                   
                        span Pages
                      |                 
                      ul.nav.nav-sub.dk
                        li.nav-sub-header
                          a(href='')
                            span Pages
                        |                   
                        li
                          a(href='page_profile.html')
                            span Profile
                        |                   
                        li
                          a(href='page_post.html')
                            span Post
                        |                   
                        li
                          a(href='page_search.html')
                            span Search
                        |                   
                        li
                          a(href='page_invoice.html')
                            span Invoice
                        |                   
                        li
                          a(href='page_price.html')
                            span Price
                        |                   
                        li
                          a(href='page_lockme.html')
                            span Lock screen
                        |                   
                        li
                          a(href='page_signin.html')
                            span Signin
                        |                   
                        li
                          a(href='page_signup.html')
                            span Signup
                        |                   
                        li
                          a(href='page_forgotpwd.html')
                            span Forgot password
                        |                   
                        li
                          a(href='page_404.html')
                            span 404
                    |               
                    li.line.dk.hidden-folded
                    |               
                    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
                      span Your Stuff
                    |               
                    li
                      a(href='page_profile.html')
                        i.icon-user.icon.text-success-lter
                        |                   
                        b.badge.bg-success.pull-right 30%
                        |                   
                        span Profile
                    |               
                    li
                      a(href='')
                        i.icon-question.icon
                        |                   
                        span Documents
                // nav
                // aside footer
                .wrapper.m-t
                  .text-center-folded
                    span.pull-right.pull-none-folded 60%
                    |               
                    span.hidden-folded Milestone
                  |             
                  .progress.progress-xxs.m-t-sm.dk
                    .progress-bar.progress-bar-info(style='width: 60%;')
                  |             
                  .text-center-folded
                    span.pull-right.pull-none-folded 35%
                    |               
                    span.hidden-folded Release
                  |             
                  .progress.progress-xxs.m-t-sm.dk
                    .progress-bar.progress-bar-primary(style='width: 35%;')
                // / aside footer
          // / aside
          // content
          #content.app-content(role='main')
            .app-content-body
          // / content
          // footer
          footer#footer.app-footer(role='footer')
            .wrapper.b-t.bg-light
              span.pull-right
                | 2.0.1 
                a.m-l-sm.text-muted(href='', ui-scroll='app')
                  i.fa.fa-long-arrow-up
              |     &#x9;&copy; 2015 Copyright.
          // / footer
        script(src='/css/bower_components/jquery/dist/jquery.min.js')
        script(src='/css/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/css/bower_components/js/ui-load.js')
        script(src='/css/bower_components/js/ui-jp.config.js')
        script(src='/css/bower_components/js/ui-jp.js')
        script(src='/css/bower_components/js/ui-nav.js')
        script(src='/css/bower_components/js/ui-toggle.js')
