.comment.styled(class=(!comment.published ? 'unpublished' : ''), data-meta=(user ? comment : ''), id=comment.id)
    .content!= md(comment.content)
    span.meta
        a(href="/post/" + post.slug + '#' + comment.id)
            time.date(datetime=(new Date(comment.date).toISOString())) #{new Date(comment.date).toISOString()}
            | 
            span.owner
                | by
                | 
                a(href="/user/" + (Object.keys(comment.owner.name).length ? comment.owner.id : 'anonymous')) #{Object.keys(comment.owner.name).length ? comment.owner.name.first + ' ' + comment.owner.name.last : (user ? comment.owner.username : 'anonymous')}            
