if ((!user && post.published) || (user))
    .post.styled(class=(!post.published ? 'unpublished' : ''), data-meta=(user ? post : ''))
        h1.title #{post.title}
        div!= md(post.content)
        span.meta
            a(href="/post/" + post.slug)
                time.date(datetime=(new Date(post._id.getTimestamp()).toISOString())) #{new Date(post._id.getTimestamp()).toISOString()}
            | 
            span.owner
                | by
                | 
                a(href="/user/" + (Object.keys(post.owner.name).length ? post.owner.id : 'anonymous')) #{Object.keys(post.owner.name).length ? post.owner.name.first + ' ' + post.owner.name.last : (user ? post.owner.username : 'anonymous')}            
else
    .post.styled
        p This post hasn't been published yet.
