extends ./layout

block scripts
    script.
        $('p.blog-post-meta span.date').each(function(e){
            $(this).text(moment.tz(moment(new Date($(this).text()).toISOString()).format(), jstz.determine().name()).fromNow());
        });

block content
    for post in posts
        include partitals/post
