extends ./layouts/main

block content
    .container
        if(posts.length)
            for post in posts
                include partitals/post
        else
            .error.styled
                p There aren't any posts or the DB isn't responding.
