extends ../../layouts/main.jade

block styles
    link(href="/css/admin/core.css", rel="stylesheet", type="text/css")
    style.
        #main {
            margin-top: 50px;
        }
        #epiceditor iframe {
            margin-top: -10px;
        }
        #editor form {
            text-align: right;
        }
        #editor input[type="text"] {
            display: inline-block;
            border: none;
            padding: 5px;
            background-color: rgb(41, 41, 41);
            width: 885px;
            color: white;
            padding-left: 10px;
            margin-bottom: 5px;
        }
        #editor .topbar {
            margin-bottom: 20px;
            text-align: left;
        }
    
block scripts
    script.
        $(document).ready(function() {
            new EpicEditor({
                basePath: '/',
                textarea: 'content',
                theme: {
                    base: 'css/epiceditor/themes/base/epiceditor.css',
                    preview: 'css/epiceditor/themes/preview/preview-dark.css',
                    editor: 'css/epiceditor/themes/editor/epic-dark.css'
                },
                autogrow: true
            }).load();
        });

block beforeContent
    .controls
        input(type="button", value="Add User", id="addUser").button
        | 
        input(type="button", value="User List", id="userList").button
        | 
        input(type="button", value="Post List", id="postList").button
        | 
        input(type="button", value="New Post", id="newPost").button

block content
    #editor.container.styled
        form(action="", method="post")
            .topbar
                input(type="text", placeholder="Title", name="title")
                input(type="text", placeholder="Tags", name="tags")
                span
                    | Publish?
                    | 
                    input(type="checkbox", name="published")
                span
                    | Anonymous?
                    | 
                    input(type="checkbox", name="anonymous")
            #epiceditor
            textarea#content(style="display: none;", name="content", tabindex="-1")
            input(type="submit", value="post").button
